@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root{
    --lightsecondary:#fff7f2;
    --darkprimary:#4A6274;
    --darksecondary:#E2725A;
    --lightprimary:#94ACBF;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}